.carousel-inner {
  height: 50rem;
}
.navbar .navbar-brand
{
font-family: 'Inria Serif', serif;
font-size: 3rem;
padding: 2px 5px;
transition-duration: 0.3s;
}
.navbar .navbar-brand:hover
{
background-color: #F0A500;
border-radius: 25%;

}
.navbar .nav-link
{
  font-size: 1.2rem;
  color: white !important;
  /* transition-duration: 0.2s; */
}
.navbar .nav-link:hover
{
  background-color: #F0A500;
  border-radius: 15%;
  transition-duration: 0.2s;
}

.navbar
{
  padding: 1% 10% 0;
  width: 100%;
  position: absolute;
  z-index: 1;
}
#header {
  position: relative;
  text-align:center;
  color: white;

}
.collapse , .collapsing
{
  text-align: right;
}
.carousel {
  position: relative;
  z-index: -1;
  top: 0;
}

.navbar-brand {
  font-size: 1.5rem;
}

.tinted-image {
  filter: brightness(35%);
}

h1
{
  font-family: 'Aligatai','Grechen Fuemen', sans-serif;
  font-size: 900%;
}
 .carousel-inner {
/*just incase the flash (style above) comes back*/
   background: #000;

}
@media screen and (max-width:1115px) and (min-width:910px) {
  .carousel-inner{
  /*just incase the flash (style above) comes back*/
  max-height:650px;
  }
}
@media screen and (max-width:910px)  and (min-width:685px){
  .carousel-inner{
  /*just incase the flash (style above) comes back*/
  max-height:600px;
  }
  .n
  h1
  {
    font-size: 650%;
  }
  .intro h3
  {
    font-size: 150%;
  }
}
@media screen and (max-width:807px)  and (min-width:699px){
  .carousel-inner{
  /*just incase the flash (style above) comes back*/
  max-height:500px;
  }
  .intro h1
  {
    font-size: 550%;
  }
  .intro h3
  {
    font-size: 125%;
  }
  .navbar .navbar-brand
  {
    font-size: 2rem;
  }
}
@media screen and (max-width:699px)  and (min-width:540px){
  .carousel-inner{
  /*just incase the flash (style above) comes back*/
  max-height:400px;
  }
  h1
  {
    font-size: 450%;
  }
  .intro h3
  {
    font-size: 100%;
  }
  .navbar .navbar-brand
  {
    font-size: 1.7rem;
  }
}
@media screen and (max-width:540px)  and (min-width:300px){
  .carousel-inner{
  /*just incase the flash (style above) comes back*/
  max-height:300px;
  }
  h1
  {
    font-size: 350%;
  }
  .intro h3
  {
    font-size: 100%;
  }
  .navbar .navbar-brand
  {
    font-size: 1.4rem;
  }
}
.intro
{
  position: absolute;
  width:100%;
  margin: 16% auto 0;
  padding: 2% 0;
  /* background-color: rgba(0,0,0,0.55);
  background-blend-mode: multiply; */
}
/* .intro h3
{
  font-size: 1.5rem;
  color: #E0DEDE;
} */
#Midd{
  padding:10% 6%;
  text-align: center;


}
#Midd h3
{
  font-family: 'Lato', sans-serif;
  font-weight: bolder;
}
.midimg
{
  width: 30%;
}
.midico
{
  padding:0 1.5rem;
}
.parent
{
  margin: 5% 0%;
  height: 500px;;
  display: flex;
  flex-shrink: 8;
  justify-content: space-around;

}
.child
{
  background-image:url("https://d23ynomj6u3eig.cloudfront.net/sites/default/files/2020-01/itpl.jpg");
  height: 400px;
  width: 230px;
  border:2px solid red;
  border-radius: 10%;

}
#flexing .carousel-inner
{
  max-height: 550px;
}
